body {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    background-color: RGB(91, 47, 16);
    background-attachment: scroll;
    background-image: url(../images/bg_body.jpg);
    background-position: 0px 0px;
    background-repeat:repeat;
    color:  RGB(215, 207, 200); 
    font-family: Verdana, Georgia;
    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    line-height: normal;
    cursor: default;
       }
#header .logo {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;

}
.lang-list {
  font-size: 11px;
  font-family: "Verdana";
  color: rgb( 232, 209, 164 );
  line-height: 4.273;
  text-align: left;
  position: absolute;
  left: 121px;
  top: 42px;
  width: 51px;
  height: 12px;
  z-index: 74;
}
.auth {
  font-size: 11px;
  font-family: "Verdana";
  color: rgb( 232, 209, 164 );
  text-decoration: underline;
  line-height: 4.273;
  text-align: left;
  position: absolute;
  left: 912px;
  top: 42px;
  width: 168px;
  height: 12px;
  z-index: 73;
}
